language: go

go:
  - 1.12.x

env:
  - SKIP_INTEGRATION=true GO111MODULE=on GOPROXY=https://proxy.golang.org GOSUMDB=sum.golang.org

script:
  - ./hack/check-linters.sh
  - ./hack/check-go-generate.sh
  - ./hack/check-code-generator.sh
  - ./hack/test.sh
